*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.meals{
    min-width: 100%;
    min-height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(materials/images/offer-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    position: relative;

}


.meal{
    overflow: hidden;
    min-width: 100%; 
    line-height: 1.5;
    color: white;
    transition: 0.7s ease;
    /* max-width: 300px; */
    margin-bottom: 40px;
    
}

.offers-meal {
    display: flex; /* لازم يكونوا جنب بعض في صف واحد */
    transition: transform 0.5s ease-in-out;
    width: 100%; /* أو سيبها تلقائي */
}
.text-meals{
    text-align: center;
    padding: 45px 20px;
    line-height: 1.8;
    color: white;
}

.text-meals span h2{
    color: rgb(255, 170, 0);
    font-size: 50px;
    margin-bottom: 15px;
}

.text-meals p{
    font-size: 18px;
}


.continer{
    height: 67vh;
    overflow: hidden;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
    /* gap: 40px; */
    padding: 40px;
}


.meal img{
    overflow: hidden;
    max-width: 100%;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 50%;
    margin-bottom: 20px;
}

.meal h3{
    font-size: 24px;
    margin: 15px 0;
}

.meal p{
    font-size: 14px;
    margin: 15px 0;
    color: #ccc;
}

.edited{
    color: rgb(255, 170, 0);
    font-size: 20px;
    font-weight: bold;
}

.meal del{
    color: #999;
    margin-right: 10px;
}

.meal:hover{
    transform: translateY(-10px);
}

@media (max-width: 1024px) {

.text-meals span h2{
    font-size: 35px;
}
}

.prev, .next {
    position: absolute;
    top: 50%; /* ينزلوا لنص الصفحة بالطول */
    transform: translateY(-50%); /* يظبط النص بالظبط */
    background-color: rgba(255, 170, 0, 0.2); /* خلفية برتقالي شفافة */
    color: rgb(255, 170, 0); /* لون السهم */
    border: 2px solid rgb(255, 170, 0);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%; /* شكل دائري */
    transition: 0.3s;
    z-index: 100; /* عشان يكونوا فوق الصور */
}
.prev {
    left: 20px;
}

/* زرار اليمين */
.next {
    right: 20px;
}

/* تأثير عند مرور الماوس */
.prev:hover, .next:hover {
    background-color: rgb(255, 170, 0);
    color: white;
    box-shadow: 0 0 15px rgba(255, 170, 0, 0.5);
}

